Package: com.pepebecker.testapp
Name: Test App
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Homepage: http://pepebecker.com/repo/TestApp
Maintainer: Pepe Becker <mail@pepebecker.com>
Author: Pepe Becker <mail@pepebecker.com>
Section: Applications
Depends: firmware(>= 8.1)
Icon: file:///Applications/TestApp.app/Appicon57x57.png